google-api-python-client
google-generativeai
python-dotenv
openai
anthropic
groq
pytest
pydantic
selenium
assemblyai
assemblyai[extras]
sounddevice
numpy
elevenlabs
pyperclip
inquirer
python-editor
requests
beautifulsoup4
markdownify
llm
llm-claude
llm-claude-3
llm-ollama
llm-gemini
gitignore_parser
aider-chat